
<!DOCTYPE html>

<body bgcolor="#F5F5F5">

</body>




<h1><i><center>EMPLOYEE INFORMATION MANAGEMENT SYSTEM</center></i></h1>



    <center>
        <a href="/create/"><font size = '30'>
            <button type="button" class="btn btn-link" ><font size = '5'>ADD EMP_DETAILS</font></button></font><br><br><br>

        </a>

        <a href="/update/">
            <button type="button"  class="btn btn-link"><font size = '5'>EDIT EMP_DETAILS</font></button><br><br><br>
        </a>

        <a href="/delete/">
            <button type="button" class="btn btn-link"><font size = '5'>DELETE EMP_DETAILS</font></button><br><br><br>
        </a>

        <a href="/list/">

            <button type="button" class="btn btn-link"><font size = '5'>LIST ALL</font></button><br><br>
        </a>








</center>
</html>
